<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1 th:text="${title}">Wound Care Dressing Finder</h1>
<table>
    <tr>
        <td>
        </td>
    </tr>
    <tr>
        <td>
<form method="get" >
    <div>
        <p>Is the wound surgical?</p>
        <label>Yes</label>
        <input type="radio" name="Yes">
        <label>No</label>
        <input type="radio" name="No">

    </div>
    <div>
        <p>If the wound is not surgical, was debridement performed?</p>
        <label>Yes</label>
        <input type="radio" name="Yes">
        <label>No</label>
        <input type="radio" name="No">

    </div>
        <div>
        <label>What is the thickness of wound?</label>
        <select>
            <option value="" selected disabled hidden>Choose here</option>
            <option value="partial thickness">partial thickness</option>
            <option value="full thickness">full thickness</option>
        </select>
    </div>
    <div padding-top="40">
        <label>How much drainage does the wound have?  </label>
        <select>
            <option value="" selected disabled hidden>Choose here</option>
            <option value="none to small">none to small</option>
            <option value="small to moderate">small to moderate</option>
            <option value="moderate to heavy">moderate to heavy</option>
        </select>
    </div>
<div>
    <input type="submit" value="Search Dressings" />
</div>
</form>
        </td>
    </tr>
</table>
</body>
