<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:insert="fragments :: head"/>
<body>
<div class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Wound Care Dressing Finder</h1>

<table>
    <tr>
        <td>
        </td>
    </tr>
    <tr>
        <td>
<form method="get" action="/results">
    <div class="form-group">
        <p>Is the wound surgical or has the wound been debrided?</p>
        <label for="debridementperformedyes">Yes</label>
        <input required id="debridementperformedyes" type="radio" name="debridementPerformed" value="Yes">
        <label for="debridementperformedno">No</label>
        <input required id="debridementperformedno" type="radio" name="debridementPerformed" value="No">

    </div>
        <div class="form-group">
        <label>What is the thickness of wound?</label><br>
        <select required name="thickness">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="any">partial thickness</option>
            <option value="full thickness">full thickness</option>
        </select>
    </div>
    <div class="form-group">
        <label>How much drainage does the wound have?  </label><br>
        <select required name="drainage">
            <option value="" selected disabled hidden>Choose here</option>
            <option value="none to small">none to small</option>
            <option value="small to moderate">small to moderate</option>
            <option value="moderate to heavy">moderate to heavy</option>
        </select>
    </div>
<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Search Dressings" />
</div>
</form>
        </td>
    </tr>
</table>
</div>
</body>
</html>