<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<div class="container">
    <nav th:replace="fragments :: navigation"></nav>
    <form action="/remove" method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dressing</th>
                <th>Properties</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dressing : ${results}">
                <td class="checkbox">
                    <input type="checkbox" name="dressingIds" th:value="${dressing.dressingID}" th:id="${dressing.dressingID}"/>
                    <label th:for="${dressing.dressingID}" th:text="${dressing.dressingName}"></label>
                </td>
                <td th:text="${dressing.drainageRequirement + ', ' + dressing.thicknessRequirement + ', ' + dressing.debridementRequired + ', ' + dressing.frequencyAllowed}"></td>
                <td><a th:href="${'/modify?id=' + dressing.dressingID}">Modify</a></td>
            </tr>
            </tbody>
        </table>
        <div class="btn-group" role="group" aria-label="Actions">
            <button class="btn btn-primary" type="submit">Delete</button>
        </div><br>&nbsp;
</div>
</form>
</body>
</html>