<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments :: head"/>
<body>
<div class="container">

    <h1>Wound Care Dressing Supply List</h1>
    <nav th:insert="fragments :: navigation"></nav>
    <table>
        <tr>
            <td>
                <form method="post" action="/update" th:object="${item}">
                    <input type="hidden" name="dressingId" th:value="*{dressingId}">
                    <div class="form-group">
                        <p><label for="dressingName">Name</label> &nbsp;&nbsp;
                            <input type="text" name="dressingName" id="dressingName" th:value="*{dressingName}"></p>
                    </div>
                    <div class="form-group">
                        <label th:for="debridementRequired">Dedridement Requirement</label>
                        <select required class="form-control" th:field="*{debridementRequired}">
                            <option value="" selected disabled hidden>Choose here</option>
                            <option th:value="'Yes'" th:text="'Yes'"></option>
                            <option th:value="'No'" th:text="'No'"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label th:for="thicknessRequirement">Thickness Requirement</label>
                        <select required class="form-control" th:field="*{thicknessRequirement}">
                            <option value="" selected disabled hidden>Choose here</option>
                            <option th:value="'any thickness'" th:text="'any thickness'"></option>
                            <option th:value="'full thickness'" th:text="'full thickness'"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label th:for="drainageRequirement">Drainage Requirement</label>
                        <select required class="form-control" th:field="*{drainageRequirement}">
                            <option value="" selected disabled hidden>Choose here</option>
                            <option th:value="'Any'" th:text="'Any'"></option>
                            <option th:value="'none to small'" th:text="'none to small'"></option>
                            <option th:value="'small to moderate'" th:text="'small to moderate'"></option>
                            <option th:value="'moderate to heavy'" th:text="'moderate to heavy'"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label th:for="frequencyAllowed">Frequency of dressing change allowed</label>
                        <select required class="form-control" th:field="*{frequencyAllowed}">
                            <option value="" selected disabled hidden>Choose here</option>
                            <option th:value="'Once a Day'" th:text="'Once a Day'"></option>
                            <option th:value="'Every Other Day'" th:text="'Every Other Day'"></option>
                            <option th:value="'Every Third Day'" th:text="'Every Third Day'"></option>
                            <option th:value="'Once a Week'" th:text="'Once a Week'"></option>
                            <option th:value="'Based on wound size'" th:text="'Based on wound size'"></option>
                        </select>
                    </div>
                    <div class="btn-group" role="group" aria-label="Actions">
                        <input type="submit" value="Save" class="btn btn-primary"/>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>