<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments :: head"/>
<body>
<div class="container">

    <h1>Wound Care Dressing Supply List</h1>
    <nav th:insert="fragments :: navigation"></nav>

    <form method="post" action="/remove">
        <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Dressing Name (Click to Edit)</th>
            <th>Drainage Required</th>
            <th>Thickness Required</th>
            <th>Frequency Allowed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${supplyList}">
            <td><input type="checkbox" name="dressingIds" th:value="${item.dressingId}" /></td>
            <td><a th:href="${'/modify?id=' + item.dressingId}" th:text="${item.dressingName}" title="CLick to Edit" /></td>
            <td th:text="${item.drainageRequirement}"></td>
            <td th:text="${item.thicknessRequirement}"></td>
            <td th:text="${item.frequencyAllowed}"></td>
        </tr>
        </tbody>
        </table>
        <div class="form-group"><input type="submit" value="Remove Dressing" class="btn btn-danger" /></div>
    </form>
</div>
</body>
</html>
